extends layout

block head
    script(src="/js/main.js")

block content
    div#myapp
    script.
        const app = Elm.Main.init({node: document.getElementById('myapp')})
        const evtSource = new EventSource("/sse");
        evtSource.onmessage = raw => {
            let event = JSON.parse(raw.data);
            app.ports.messageReceiver.send([event.name, event.data]);
        };
        evtSource.onerror = () => app.ports.messageReceiver.send(["sseClosed", {}]);
