extends layout

block head
    script(src="/js/main.js")

block content
    div#myapp
    script.
        const app = Elm.Main.init({node: document.getElementById('myapp')})
        const evtSource = new EventSource("/sse");
        evtSource.onmessage = function(raw) {
            let event = JSON.parse(raw.data);
            console.log(event);
            app.ports.messageReceiver.send([event.name, event.data]);
        };
        window.onbeforeunload = () => {
            app.ports.messageReceiver.send(["leaving", {}]);
            return false;
        }
