extends layout

block head
    script(src="/js/main.js")

block content
    div#myapp
    script.
        const app = Elm.Main.init({node: document.getElementById('myapp')})
        app.ports.connectSse.subscribe(id => {
            const evtSource = new EventSource(`/sse?id=${id}`);
            evtSource.onerror = () => location.reload();
            evtSource.onmessage = raw => {
                let event = JSON.parse(raw.data);
                app.ports.messageReceiver.send([event.name, event.data]);
            };
        });
